@import "../../styles/resources";

.btnContainer {
  display: flex;
  gap: 5px;
  padding: 1rem 0;
  .button {
    flex: 1;
  }
}

.formWrapper {
  overflow-y: scroll;
}

.formFields {
  min-width: 500px;
  @include displayFlex(column, center, center);

  .field {
    display: flex;
    padding: 1rem 0;
  }
}
