.container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.dropdown {
  width: 100%;
  display: flex;
  flex-direction: column;

  .options {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0;
  }
}
